body{
    font-family: 'arial',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    background-image: url(https://i.postimg.cc/5tHfLFgT/images-29.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-between;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
}

.logo img{
    max-height: 50px;
    
}

h1{margin: 0 0 0 4%;
    color: red;
text-decoration: underline;}
   
header{
    background-color: black;
    color:black;
    padding: 1em;
}
nav ul {list-style-type: none;
margin: 30px; 
color: black;
background-color: red;
text-align: center;
padding: 20px;}

nav ul li {
    display:inline;
    margin-right: 30px;
    text-align: center;
    color: black;
    font-size: larger;
    
    text-decoration: none;
}
nav ul li a:hover{
    background-color: blue;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

footer{
    background-color: red;
    color: black;
    text-align: center;
    padding:1rem;
   
   
    width: 100%;
}
.hero {
  
    background-size: cover;
    background-position: center;
    color:white;
    font-size: 25px;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 0%;
   

}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}



.hero p {
    font-size: 1.2em;
    margin-bottom: 3px;
   
}
.btn:hover{background-color: blue;}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: white;
    border-color: black;
    background-color: red;
    border-radius: 10px;
margin-left: 0 0 0 90%;
text-align: left;
   
}


.head img{
   width: 500px;
   margin-bottom: 40PX;
  
}
.about{
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(0,0,0, 0.4);
    padding: 30px;
    border: 3px solid red;
    top: 15%;
    left: 10%;
}
.about h2{
    color: white;
    font-size: 2em;
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
}
.about p{
    color: white;
    font-size: 18px;
    font-style: italic;
    line-height: 1,6;

}
.about2{
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(0,0,0, 0.4);
    padding: 30px;
    border: 3px solid red;
    top: 15%;
    left: 10%;
}
.about2 h2{
    color: white;
    font-size: 2em;
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
}
.about2 p{
    color:white;
    font-size: 18px;
    font-style: italic;
    line-height: 1,6;

}
.about3{
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
   background-color: rgba(0,0,0, 0.4);
    padding: 30px;
    border: 3px solid red;
    top: 15%;
    left: 10%;
}
.about3 h2{
    color: white;
    font-size: 2em;
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
}
.about3 p{
    color: white;
    font-size: 18px;
    font-style: italic;
    line-height: 1,6;
}
.about4{
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(0,0,0, 0.4);
    padding: 30px;
    border: 3px solid red;
    top: 15%;
    left: 10%;
    
}
.about4 h2{
    color: black;
    font-size: 2em;
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
    color: white;
}
.about4 p{
    color: black;
    font-size: 18px;
    font-style: italic;
    line-height: 1,6;
    color: white;

}
